@width: 1200px;
@height: 675px;

body {
	margin: 0;
	font-family: Helvetica;
	overflow: hidden;
	width: @width;
	height: @height;
	color: #fff;
  text-shadow: 3px 3px 5px #000;
}

.app--wrapper {
	position: relative;
	transform-origin: top left;
	width: @width;
	height: @height;
	background-image: linear-gradient(-200deg, #220065 0%, #2b546d 100%);
}

@headerHeight: 75px;
@headerInnerHeight: @headerHeight / 3;
.list {
  position: relative;
  width: @width;
  height: @height;
}

.header {
  position: absolute;
  top: 0;
  width: @width;
  height: @headerHeight;
}

.header__title {
	position: absolute;
  background: rgb(10, 62, 122);
  text-align: center;
  color: #fff;
	width: @width;
  height: @headerInnerHeight;
  line-height: @headerInnerHeight;
  font-size: 20px;
}

.rCount {
	position: absolute;
	top: 0;
	right: 0;
	height: @headerInnerHeight;
  line-height: @headerInnerHeight;
  font-size: 15px;
	padding-right: 5px;
}
.header__columns {
  position: absolute;
  top: @headerInnerHeight;
  width: @width;
  height: @headerInnerHeight * 2;
  font-size: 15px;
  text-align: right;
}

.header__column {
  position: absolute;
  background: rgb(54, 41, 203);
  line-height: 25px;
  color: #fff;
}

.header__column--t25 {
	top: 25px;
}

@convenioW: 300px;
@convenioOff: 0;
.header__column--convenio, .row--convenio {
  line-height: 50px;
  width: @convenioW;
  font-size: 30px;
  text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
}

.darkBg {
	background: rgba(0, 0, 0, 0.3);
}

.row--redBg {
	background: rgba(203, 60, 41, 0.3);
}

.row--greenBg {
	background: rgba(68, 190, 10, 0.3);
}

.row--pinkBg {
	background: rgba(203, 41, 123, 0.3);
}

@ge30W: 350px;
@ge30Off: @convenioW;
.header__column--ge30 {
  background: rgb(203, 60, 41);
  left: @ge30Off;
  width: @ge30W;
}

.header__column--ge30Title {
	background: rgb(112, 32, 22);
}

@ge30QtdW: 100px;
@ge30QtdOff: @convenioW;
.header__column--ge30Qtd, .row--ge30Qtd {
  left: @ge30QtdOff;
  width: @ge30QtdW;
}

@ge30DaysAvgW: 100px;
@ge30DaysAvgOff: @ge30QtdW + @ge30QtdOff;
.header__column--ge30DaysAvg, .row--ge30DaysAvg {
	left: @ge30DaysAvgOff;
  width: @ge30DaysAvgW;
}

@ge30ValueAvgW: 150px;
@ge30ValueAvgOff: @ge30DaysAvgW + @ge30DaysAvgOff;
.header__column--ge30ValueAvg, .row--ge30ValueAvg {
	left: @ge30ValueAvgOff;
  width: @ge30ValueAvgW;
}

@lt30W: 350px;
@lt30Off: @ge30ValueAvgW + @ge30ValueAvgOff;
.header__column--lt30 {
  background: rgb(68, 190, 10);
  left: @lt30Off;
  width: @lt30W;
}

.header__column--lt30Title {
	background: rgb(36, 98, 6);
}

@lt30QtdW: 100px;
@lt30QtdOff: @lt30Off;
.header__column--lt30Qtd, .row--lt30Qtd {
	left: @lt30QtdOff;
  width: @lt30QtdW;
}

@lt30DaysAvgW: 100px;
@lt30DaysAvgOff: @lt30QtdW + @lt30QtdOff;
.header__column--lt30DaysAvg, .row--lt30DaysAvg {
  left: @lt30DaysAvgOff;
  width: @lt30DaysAvgW;
}

@lt30ValueAvgW: 150px;
@lt30ValueAvgOff: @lt30DaysAvgW + @lt30DaysAvgOff;
.header__column--lt30ValueAvg, .row--lt30ValueAvg {
  left: @lt30ValueAvgOff;
  width: @lt30ValueAvgW;
}

@pendentesW: 200px;
@pendentesOff: @lt30ValueAvgW + @lt30ValueAvgOff;
.header__column--pendentes {
  background: rgb(203, 41, 123);
  left: @pendentesOff;
  width: @pendentesW;
}

.header__column--pendentesTitle {
  background: rgb(121, 23, 73);
}

@qtdPendentesW: 100px;
@qtdPendentesOff: @pendentesOff;
.header__column--qtdPendentes, .row--qtdPendentes {
	left: @qtdPendentesOff;
  width: @qtdPendentesW;
}

@avgPendentesW: 100px;
@avgPendentesOff: @qtdPendentesW + @qtdPendentesOff;
.header__column--avgPendentes, .row--avgPendentes {
  left: @avgPendentesOff;
  width: @avgPendentesW;
}

.lPadd {
  padding-left: 5px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.rPadd {
  padding-right: 5px;
	text-align: right;
}

.content {
	position: absolute;
	top: 75px;
	width: @width;
	height: 600px;
}

@rowHeight: 50px;

.row--wrapper {
	position: absolute;
	width: @width;
	height: @rowHeight;
	line-height: @rowHeight;
	font-size: 18px;
}

.row {
	position: absolute;
	height: @rowHeight;
	line-height: @rowHeight;
}

.rowLoop(20);

.rowLoop (@n, @i:0) when (@i =< @n) {
	.row--@{i} {
		top: @i * @rowHeight;
	}
	.rowLoop(@n, (@i + 1));
}

.row--zebra {
	background: rgba(1, 4, 85, 0.5);
}
